.seed-container {
    background-image: url(../../assets/images/seed.svg);
    background-size: cover;           /* pura fill karega */
    background-repeat: no-repeat;
    background-position: center;     /* scroll par stretch nahi hoga */
    
    width: 100%;
    min-height: 100vh;                /* screen ke barabar height */
    background-color: #0E1A60;

    display: flex;
    margin: 0;
    padding: 0;
}

.seed-container .left-side {
    width: 40%;
}

.seed-container .logo {
    display: flex;
    justify-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 100px 90px 10px;
    align-items: center;
}

.seed-container .logo img {
    width: 15%;
}

.seed-container .logo h1 {
    font-size: 22px;
    color: white;
}

.seed-container .desc p {
    font-size: 20px;
    color: white;
    padding: 10px 90px;
}

.seed-container .right-side {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seed-container .right-side h1 {
    color: white;
    padding: 200px 150px 0px 260px;
    font-size: 30px;
    margin-bottom: 0px;
}

.seed-container .right-side .seed-box {
    width: 80%;
    background: #0E1A60;
    border: 1px solid #376cb7;
    border-radius: 8px;
    color: white;
    padding: 20px;
    margin: 20px 0px 0px 90px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;  
}

/* Seed words */
.seed-container .right-side .seed-words {
    font-size: 14px;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


/* .seed-actions {
  position: absolute;
   bottom: 10px;    
  right: 15px; 
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
} */


.seed-container .right-side .warning {
    color: #d084f5;
    align-self: flex-start;
    margin: 0px 0px 10px 100px;
    font-size: 15px;
}
.seed-container .right-side .seed-box .btn {
    display: flex;
    flex-direction: row;
    gap: 0px;
    width: 20%;
}

.seed-container .right-side .seed-box .icon-btn {
    background: none;
    border: none;
    color: #bfbfe0;
    font-size: 16px;
    gap: 6px;
    cursor: pointer;
    margin: 0px;
}


.seed-container .right-side .btn-next {
    background: linear-gradient(to right, #a855f7, #6366f1);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    margin: 10px 0px 10px 30px;
    width: 40%;
    padding: 10px 10px;
}

.seed-container .right-side .link-login {
    margin: 10px 0px 40px 50px;
    font-size: 12px;
    color: #ccc;
}

.seed-container .right-side .link-login a {
    color: #a855f7;
    text-decoration: none;
}
